<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    <div class="form">
        <form action="/forms/auth" method="post">
            <h3>Вход</h3>
            <div>
                <input
                    name="client_id"
                    type="hidden"
                    value="{{ query.client_id }}"
                >
                <input
                    name="redirect_uri"
                    type="hidden"
                    value="{{ query.redirect_uri }}"
                >
                <input
                    name="response_type"
                    type="hidden"
                    value="{{ query.response_type }}"
                >
            </div>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="username"
                    name="username"
                    placeholder="Email"
                    required
                    type="email"
                    value="{{ query.username }}"
                >
            </div>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="password"
                    minlength="6"
                    name="password"
                    placeholder="Пароль"
                    required
                    type="password"
                    value="{{ query.password }}"
                >
            </div>
            {{#if query.message}}
            <div class="form-error">
                {{ query.message }}
            </div>
            {{/if}}
            <div class="form-button">
                <button class="btn" type="submit">Войти</button>
            </div>
        </form>
        <div class="oauth">
            <p>Войти с помощью</p>
            <div class="link-group">
                <a class="link" href="/strategies/leader/login"><img src="/img/leader_logo.svg"></a>
                <a class="link" href="/strategies/google/login"><img src="/img/google_logo.svg"></a>
            </div>
        </div>
        <div class="bottom">
            <p>
            Нет аккаунта?
            <a class="link" href="/forms/register.html">Зарегистрироваться</a>
            </p>
            <p>
            Забыли пароль?
            <a class="link" href="/forms/restore.html">Восстановить</a>
            </p>
        </div>
    </div>
</body>
</html>