<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    <div class="form">
        <form action="/form/auth" method="post">
            <h3>Регистрация</h3>
            <!--
            <p>
                {{#each query}}
                    {{@key}}: {{this}}
                {{/each}}
            </p>
            -->
            <div class="form-group">
                <input
                    class="form-control item"
                    id="username"
                    name="username"
                    placeholder="Email"
                    required
                    type="email"
                    value="{{ query.username }}"
                >
            </div>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="password"
                    minlength="8"
                    name="password"
                    placeholder="Пароль"
                    required
                    type="password"
                    value="{{ query.password }}"
                >
            </div>
            <div class="form-button">
                <button class="btn" type="submit">Зарегистрироваться</button>
            </div>
        </form>
        <div class="oauth">
        </div>
        <div class="bottom">
            Уже есть аккаунт?
            <a class="link" href="/form/login.html?data={{ query.data }}">Войти</a>
        </div>
    </div>
</body>
</html>