<!DOCTYPE html>
{{> head}}
<body>
    <div class="form">
        <form action="/forms/auth" method="post">
            <h3>{{ title }}</h3>
            <div>
                <input
                    name="client_id"
                    type="hidden"
                    value="{{ query.client_id }}"
                >
                <input
                    name="redirect_uri"
                    type="hidden"
                    value="{{ query.redirect_uri }}"
                >
                <input
                    name="response_type"
                    type="hidden"
                    value="{{ query.response_type }}"
                >
                <input
                    name="grant_type"
                    type="hidden"
                    value="password"
                >
            </div>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="username"
                    name="username"
                    placeholder="Email"
                    required
                    type="email"
                    value="{{ query.username }}"
                >
            </div>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="password"
                    minlength="6"
                    name="password"
                    placeholder="Пароль"
                    required
                    type="password"
                    value="{{ query.password }}"
                >
            </div>
            {{> errors}}
            {{> button button='Войти'}}
        </form>
        {{> strategies}}
        <div class="bottom">
            <p>
                Нет аккаунта?
                <a class="link" href="/forms/register.html">Зарегистрироваться</a>
            </p>
            <p>
                Забыли пароль?
                <a class="link" href="/forms/restore.html">Сбросить</a>
            </p>
        </div>
    </div>
</body>
</html>