<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <div class="form">
        <form name="confirmForm" method="get">
            <h3><%= title %></h3>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="code"
                    name="code"
                    placeholder="Код подтверждения"
                    required
                    type="text"
                    value="<%= query.code %>"
                >
            </div>
            <%- include('partials/errors.ejs') %>
            <div class="form-button">
                <input
                    class="btn"
                    type="button"
                    value="Подтвердить регистрацию"
                    onclick="location.href='<%= prefix %>/auth/confirm/'+escape(document.forms['confirmForm'].elements['code'].value || null)"
                >
            </div>
        </form>
        <div class="bottom">
            Уже подтвержден?
            <%- include('partials/auth.ejs') %>
        </div>
    </div>
</body>
</html>