<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <div class="form">
        <form action="/auth/restore" method="post">
            <h3><%= title %></h3>
            <div>
                <input
                    name="subject"
                    type="hidden"
                    value="Сброс пароля в My App"
                >
            </div>
            <div class="form-group">
                <input
                    class="form-control item"
                    id="username"
                    name="username"
                    placeholder="Email"
                    required
                    type="email"
                    value="<%= query.username %>"
                >
            </div>
            <%- include('partials/errors.ejs') %>
            <%- include('partials/button.ejs', {button: 'Сбросить пароль'}) %>
        </form>
        <div class="bottom">
            Вспомнили пароль?
            <%- include('partials/auth.ejs') %>
        </div>
    </div>
</body>
</html>